<!DOCTYPE html>
<html>
  <head>
    <title>Members Only</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="/stylesheets/output.css" rel="stylesheet" />
    <link href="/stylesheets/custom.css" rel="stylesheet" />
    <script src="/javascripts/account.js" defer></script>
    <script src="/javascripts/log-in.js" defer></script>
  </head>
  <body class="p-0 text-slate-700 bg-slate-50 font-figtree">
    <% if (typeof user !== `undefined`) {%>

    <nav
      class="px-4 py-6 gap-x-4 md:gap-x-6 md:px-12 w-full h-fit flex flex-row justify-evenly md:justify-end flex-initial bg-slate-500 text-white text-base"
    >
      <a href="/posts">Home</a>
      <div class="border border-white border-l md:hidden"></div>
      <a href="/posts/create">Post</a>
      <div class="border border-white border-l md:hidden"></div>
      <a href="/account">Account</a>
      <div class="border border-white border-l md:hidden"></div>
      <a class="whitespace-nowrap" href="/log-out">Log Out</a>
    </nav>

    <div
      class="p-6 md:px-8 py-8 md:py-16 gap-y-8 md:gap-y-16 w-full h-full flex flex-col justify-start items-center bg-slate-50"
    >
      <h1 class="text-center font-bold text-2xl md:text-3xl">
        Account Details
      </h1>
      <section
        class="md:min-w-[500px] md:max-w-[500px] min-w-full p-6 md:p-8 bg-white flex flex-col gap-y-6 justify-center items-center text-sm drop-shadow-lg rounded-lg text-base"
      >
        <div class="flex flex-col gap-y-6 w-full">
          <h2 class="font-bold">Edit Account Information:</h2>
          <div class="flex flex-col gap-y-2">
            <label for="email">Email</label>
            <input
              class="px-4 py-2 border border-slate-500 rounded-lg disabled:pointer-events-none disabled:bg-slate-50 disabled:text-slate-500"
              required
              autocomplete="off"
              name="email"
              placeholder="Email"
              type="email"
              value="<%= typeof user.email === `undefined` ? `` : user.email %>"
              disabled="true"
            />
          </div>

          <form
            class="relative flex flex-col gap-y-2"
            action="/update/first-name"
            method="post"
          >
            <label for="first_name">First Name</label>
            <div class="flex flex-row justify-between gap-x-4">
              <input
                id="first_name"
                class="w-full px-4 py-2 border border-slate-500 rounded-lg"
                required
                autocomplete="off"
                name="first_name"
                placeholder="First Name"
                type="text"
                value="<%= typeof user.first_name === `undefined` ? `` : user.first_name %>"
              />
              <button
                disabled="false"
                id="first-name-submit"
                class="disabled:pointer-events-none disabled:bg-slate-50 disabled:text-slate-500 px-4 py-2 rounded-lg border border-slate-500 bg-slate-500 text-white"
                type="submit"
              >
                Save
              </button>
            </div>
            <% if (typeof firstNameErrors !== `undefined`) { %>
            <ul class="text-red-600 font-semi-bold">
              <% for (item of firstNameErrors) { %>
              <li class="list-disc list-outside ml-3 md:ml-4">
                <%= item.msg %>
              </li>
              <% } %>
            </ul>
            <% } %>
          </form>

          <form
            class="relative flex flex-col gap-y-2"
            action="/update/last-name"
            method="post"
          >
            <label for="last_name">Last Name</label>
            <div class="flex flex-row justify-between gap-x-4">
              <input
                id="last_name"
                class="w-full px-4 py-2 border border-slate-500 rounded-lg"
                required
                autocomplete="off"
                name="last_name"
                placeholder="Last Name"
                type="text"
                value="<%= typeof user.last_name === `undefined` ? `` : user.last_name %>"
              />
              <button
                disabled="true"
                id="last-name-submit"
                class="disabled:pointer-events-none disabled:bg-slate-50 disabled:text-slate-500 px-4 py-2 rounded-lg border border-slate-500 bg-slate-500 text-white"
                type="submit"
              >
                Save
              </button>
            </div>
            <% if (typeof lastNameErrors !== `undefined`) { %>
            <ul class="text-red-600 font-semi-bold">
              <% for (item of lastNameErrors) { %>
              <li class="list-disc list-outside ml-3 md:ml-4">
                <%= item.msg %>
              </li>
              <% } %>
            </ul>
            <% } %>
          </form>

          <form
            action="/account/member"
            method="post"
            class="relative flex flex-col gap-y-2"
          >
            <div class="w-full flex flex-row justify-between items-center">
              <label for="member">Member:</label>
              <img
                id="member-toggle"
                class="w-12 h-auto cursor-pointer"
                src="<%= user.member ? `/images/toggle.svg` : `/images/toggle-off.svg` %>"
              />
            </div>

            <div
              class="w-full gap-x-4 flex flex-row justify-between items-center"
            >
              <input
                value="<%= user.member  %>"
                class="hidden"
                id="member"
                name="member"
                type="text"
              />

              <div
                class="hidden w-full flex flex-col"
                id="member-password-container"
              >
                <label class="hidden" for="member-password"
                  >Member Password:
                </label>
                <input
                  required
                  autocomplete="off"
                  class="w-full px-4 py-2 border border-slate-500 rounded-lg"
                  id="member-password"
                  name="member-password"
                  placeholder="Member Password"
                  type="password"
                />
                <img
                  id="toggle-member-pw-visbility"
                  class="absolute top-[64px] right-[88px] w-6 cursor-pointer"
                  src="/images/eye.svg"
                />
              </div>

              <button
                class="hidden disabled:pointer-events-none disabled:bg-slate-50 disabled:text-slate-500 px-4 py-2 rounded-lg border border-slate-500 bg-slate-500 text-white"
                id="member-submit"
                type="submit"
              >
                Save
              </button>
            </div>
            <% if (typeof memberErrors !== `undefined`) { %>
            <ul class="text-red-600 font-semi-bold">
              <% for (item of memberErrors) { %>
              <li class="list-disc list-outside ml-3 md:ml-4">
                <%= item.msg %>
              </li>
              <% } %>
            </ul>
            <% } %>
          </form>

          <form
            action="/account/admin"
            method="post"
            class="<%= user.member ? `` : `hidden` %> relative flex flex-col gap-y-2"
          >
            <div class="w-full flex flex-row justify-between items-center">
              <label for="admin">Admin:</label>
              <img
                id="admin-toggle"
                class="w-12 h-auto cursor-pointer"
                src="<%= user.admin ? `/images/toggle.svg` : `/images/toggle-off.svg` %>"
              />
            </div>

            <div
              class="w-full gap-x-4 flex flex-row justify-between items-center"
            >
              <input
                value="<%= user.admin  %>"
                class="hidden"
                id="admin"
                name="admin"
                type="text"
              />

              <div
                class="hidden w-full flex flex-col"
                id="admin-password-container"
              >
                <label class="hidden" for="admin-password"
                  >Admin Password:
                </label>
                <input
                  required
                  autocomplete="off"
                  class="w-full px-4 py-2 border border-slate-500 rounded-lg"
                  id="admin-password"
                  name="admin-password"
                  placeholder="Admin Password"
                  type="password"
                />
                <img
                  id="toggle-admin-pw-visbility"
                  class="absolute top-[64px] right-[88px] w-6 cursor-pointer"
                  src="/images/eye.svg"
                />
              </div>

              <button
                class="hidden disabled:pointer-events-none disabled:bg-slate-50 disabled:text-slate-500 px-4 py-2 rounded-lg border border-slate-500 bg-slate-500 text-white"
                id="admin-submit"
                type="submit"
              >
                Save
              </button>
            </div>
            <% if (typeof adminErrors !== `undefined`) { %>
            <ul class="text-red-600 font-semi-bold">
              <% for (item of adminErrors) { %>
              <li class="list-disc list-outside ml-3 md:ml-4">
                <%= item.msg %>
              </li>
              <% } %>
            </ul>
            <% } %>
          </form>

          <div>
            <form
              id="change-password-form"
              class="relative flex flex-col gap-y-2"
              action="update-password"
              method="post"
            >
              <div
                class="mb-2 mt-4 w-full flex flex-row justify-between items-center"
              >
                <h2 class="font-bold">Change Password:</h2>
                <button
                  id="save-password"
                  class="disabled:pointer-events-none disabled:bg-slate-50 disabled:text-slate-500 px-4 py-2 rounded-lg border border-slate-500 bg-slate-500 text-white"
                  type="submit"
                  disabled="true"
                >
                  Save
                </button>
              </div>
              <div class="relative flex flex-col justify-between gap-y-2">
                <label for="password">Old Password</label>
                <input
                  class="w-full px-4 py-2 border border-slate-500 rounded-lg"
                  id="old-password"
                  required
                  autocomplete="off"
                  name="password"
                  type="password"
                />
                <img
                  id="toggle-old-pw-visbility"
                  class="absolute bottom-1.5 right-2 w-6 cursor-pointer"
                  src="/images/eye.svg"
                />
              </div>

              <div class="relative flex flex-col justify-between gap-y-2">
                <label for="newPassword">New Password</label>
                <input
                  class="w-full px-4 py-2 border border-slate-500 rounded-lg"
                  id="new-password"
                  required
                  autocomplete="off"
                  name="newPassword"
                  type="password"
                />
                <img
                  id="toggle-new-pw-visbility"
                  class="absolute bottom-1.5 right-2 w-6 cursor-pointer"
                  src="/images/eye.svg"
                />
              </div>

              <div class="relative flex flex-col justify-between gap-y-2">
                <label for="confirm">Confirm Password</label>
                <input
                  class="w-full px-4 py-2 border border-slate-500 rounded-lg"
                  required
                  id="confirm-password"
                  autocomplete="off"
                  name="confirm"
                  type="password"
                />
                <img
                  id="toggle-confirm-pw-visbility"
                  class="absolute bottom-1.5 right-2 w-6 cursor-pointer"
                  src="/images/eye.svg"
                />
              </div>

              <% if (typeof passwordMatch !== `undefined` || typeof
              passwordErrors !== `undefined`) { %>
              <ul class="text-red-600 font-semi-bold">
                <% if (typeof passwordMatch !== `undefined`) { %> <% if
                (passwordMatch === false) { %>
                <li class="list-disc list-outside ml-3 md:ml-4">
                  Incorrect user password... Please try again
                </li>
                <% } %> <% } %> <% if (typeof passwordErrors !== `undefined`) {
                %> <% for (item of passwordErrors) { %>
                <li class="list-disc list-outside ml-3 md:ml-4">
                  <%= item.msg %>
                </li>
                <% } %> <% } %>
              </ul>
              <% } %>
            </form>
          </div>
        </div>
      </section>
    </div>

    <% } else { %>
    <div
      class="p-6 md:px-8 py-8 md:py-16 gap-y-8 md:gap-y-16 w-full h-full flex flex-col justify-start items-center bg-slate-50"
    >
      <h1 class="text-center font-bold text-2xl md:text-3xl">
        Members Only Forum
      </h1>
      <section
        class="md:min-w-[500px] md:max-w-[500px] min-w-full p-6 md:p-8 bg-white flex flex-col gap-y-6 justify-center items-center text-sm drop-shadow-lg rounded-lg"
      >
        <h2 class="text-xl md:text-2xl">Log In</h2>
        <form
          action="/log-in"
          method="POST"
          class="flex flex-col gap-y-6 w-full text-base"
        >
          <div class="flex flex-col gap-y-2">
            <label for="email">Email</label>
            <input
              autocomplete="off"
              name="email"
              placeholder="Email"
              type="text"
              class="px-4 py-2 border border-slate-500 rounded-lg focus:bg-white"
            />
          </div>

          <div class="relative flex flex-col gap-y-2">
            <label for="password">Password</label>
            <input
              id="password"
              name="password"
              type="password"
              class="px-4 py-2 border border-slate-500 rounded-lg"
              placeholder="Password"
            />
            <img
              id="toggle-pw"
              class="absolute bottom-2 right-2 w-6 cursor-pointer"
              src="/images/eye.svg"
            />
          </div>

          <button
            class="px-4 py-2 border border-slate-500 rounded-lg bg-slate-500 text-white hover:bg-white hover:text-slate-700 transition"
          >
            Log In
          </button>
          <% if (typeof loginErrors !== `undefined`) { %>
          <ul class="text-red-600 font-semi-bold">
            <li class="list-disc list-outside ml-3 md:ml-4 text-sm">
              <%= loginErrors.message %>
            </li>
          </ul>
          <% } %>
        </form>

        <div class="w-full border-slate-500 border-t"></div>

        <div class="flex flex-row items-center gap-x-2">
          <p>Don't have an account?</p>
          <a class="hover:underline" href="/sign-up">Sign Up</a>
        </div>
      </section>
    </div>
    <%}%>
  </body>
</html>
